<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
   <div class="col-md-8">
    <%= form_for(:session, url: send_text_message_path) do |f| %>
      <div class = "license">
         <%= f.label :License_Plate_Number %>
        <%= f.text_field :license, :cols => "10", :rows => "10" %>
      </div>
      <div class="msg">
      <%= f.label :Message %>
      <%= f.text_area :content, :cols => "10", :rows => "10" %>
      </div>
      <%= f.submit "Send Message", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
